<nav id="nav">
    <div id="nav-bar-logo">
        <a class="logo" href="/">Logo</a>
    </div>
    </div>
    <div id="nav-bar-links">
        <a class="link" href="/">Home</a>
        <a class="link" href="/about">About Us</a>
        <a class="link" id="last-link" href="/contact">Contact Us</a>
    </div>
</nav>