<!DOCTYPE html>
<html lang="en">
    <%= erb :__header__%>
<body>
    <%= erb :__nav__%>
    
    <main>
        <div class="subpage-container">
            <div class="section-container-title">
                <h1>Contact Us</h1>
            </div>
            <div class="container-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem earum odio aliquam cupiditate. Modi, earum. Ab incidunt ratione ea sint, nostrum quasi voluptas magnam quis architecto delectus inventore illum! Iusto.</p>
            </div>
        </div>

    </main>

    <%= erb :__footer__%>

    <script src="js/main.js"></script>
</body>
</html>